input{
    display: block;
}
/* .chatapp_slider{
    max-width: 270px;
    margin: auto; */

.chatapp_slider{
    border: 1px solid black;
    max-width: 1312px;
    margin: auto;
}
.label{
    height: 49px;;
}
